input[type="text"] {
    width: 500px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

.container #flex-navbar {
    height: 100%;
}

.navbar-custom {
    background-color: #fe3d2e;
    color: white;
}

#post {
    border: 1px rgb(62, 65, 68) solid;
    width: 900px;
}

#logo {
    width: 75px;
    height: 75px;
}

#post {
    width: 69rem;
}
