{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id="post">
        <h2>Home</h2>
    
    <form action="" method="post" id="create_post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post">
    </form>
    </div>

    <div id="posts">
        {% for post in page_obj %}    
        <div id="post">
            <b>{{ post.user }}</b>
            <br>
            {{ post.content }}
            <br>
        </div>
            
        {% endfor %}
    </div>

    <div class="pagination" style="position: fixed; bottom:0">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.num_pages">last &laquo;</a>
            {% endif %}
        </span>
    </div>
</div>


    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}