{% extends "network/layout.html" %}
{% load static %}
        
{% block body %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" height="100" width="100" /></button> <span class="name mt-3">{{ user.username }}</span> <span class="idd">{{ user.email }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{ profile.followers  }} <span class="follow">Followers</span></span> </div>
            
            <!-- Logic for displaying edit/follow/unfollow -->
            <div class=" d-flex mt-2"> 
                {% if button == "follow" %}
                <form action="{% url 'profile' user.username %}" method="post">
                    {% csrf_token %}
                    <button class="btn1 btn-dark" id="follow">Follow</button> 
                </form>
                {% elif button == "edit" %}
                <form action="{% url 'edit' user.username" method="get">
                    {% csrf_token %}
                    <button class="btn1 btn-dark">Edit Profile</button>
                </form>
                    
                {% else %}
                <form action="{% url 'profile' user.username %}" method="post">
                    {% csrf_token %}
                    <button class="btn1 btn-dark">Unfollow</button>
                </form>
                    
                {% endif %}
            </div>            
            <div class="text mt-3"> <span>{{ profile.description }} </span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">{{ user.date_joined. }} </span> </div>
        </div>
    </div>
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">Following</span>
            {% for friend in friends %}
                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                    {{ friend }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
